h1 {
  font-variant: small-caps;
  letter-spacing: 1px;
}

.pageContainer {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 50px;
}

.cardElement {
  border: 1px solid var(--mantine-color-neutralGrey-3);
  background-color: var(--mantine-color-warmWhite-0);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
}

.cardElement,
.addRowContainer {
  margin-bottom: 16px;
}

.rowsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.resultContainer,
.rowsContainer {
  padding: 0 0 0 16px;
}

.seedPhraseRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.seedPhraseRow .leftSection {
  background-color: var(--mantine-color-electricBlue-4);
  align-self: stretch;
}

.seedPhraseRow h3 {
  font-variant: small-caps;
  margin: 0;
}

.seedPhraseRow .rightSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
}

.seedPhraseRow .leftSection,
.seedPhraseRow .rightSection {
  padding: 16px;
}

.seedPhraseRow .rightSection textarea {
  width: 100%;
}

.seedPhraseRow .rightSection .buttonsWrapper {
  display: flex;
  justify-content: flex-end;
}

.seedPhraseRow button {
  margin: 8px 0 0 8px;
}

.textInput {
  width: 100%;
}

.addRowContainer button {
  width: 100%;
}

.pageContainer button:hover,
.removeRowButton:hover svg {
  color: var(--mantine-color-electricBlue-6)
}