.rowContainer {
    border-top: 1px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contentContainer {
    min-height: 56px;
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.contentContainer p {
    margin: 8px 0;
}

.textContainer {
    width: 100%;
}
