.rowContainer {
    border-top: 1px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rowContainer p {
    margin: 16px;
}

.textContainer {
    width: 100%;
}