#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.rowsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
